<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Thanks</title>
</head>
<body>
<div align="center">
    <h3>Hello {{name}} You have entered following data</h3>

    <p align="center"><b>Name : {{name}}</b></p>
    <p align="center"><b>Age : {{age}}</b></p>
    <p align="center"><b>Address : {{address}}</b></p>
    <p align="center"><b>Email : {{email}}</b></p>

    <p><b>click yes if above data is correct.</b></p>
    <div align="center">
        <form method="post">
            <p><input type="radio" name="yes_no" checked>yes</input></p>
            <p><input type="radio" name="yes_no" checked>no</input></p>
            <p><input type="submit" class="btn btn_primary" name="" value="submit"></p>
        </form>
    </div>


</div>

</body>
</html>