<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link rel="stylesheet" href="{%static 'student.css'%}">
</head>
<body>

{% if stu_list %}

<table>
    <thead>
    <th>Roll Number</th>
    <th>Name</th>
    <th>Address</th>
    <th>Mobile Number</th>
    </thead>

    {% for i in stu_list %}
    <tr>
        <td>{{i.rollno}}</td>
        <td>{{i.name}}</td>
        <td>{{i.address}}</td>
        <td>{{i.mobile}}</td>
    </tr>
    {% endfor %}

</table>

{% else %}
<h1>No Data Found</h1>

{% endif %}
</body>
</html>