<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about me</title>

    <style>
        img {
    width: 314px;
    border-radius: 155px;
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    }
    a.fb {
    margin-right: 20px;

    }

    </style>
</head>
<body>
<img src="images\1635521687306.jpg" alt="not found">
 <h3>Shrikrishna Phad</h3>
<a class="fb" href="https://www.facebook.com/shrikrishna.phad" target="_blank"><b>Facebook</b></a>
<a class="insta" href=""><b>Instagram</b></a>
<a href="mailto:shrikrishna.phad@gmail.com">Email to me</a>
</body>
</html>