
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        img {
        width: 100px;
        length: 100px;
        border-radius: 100px;
        float: left;
        margin-right: 10px
        }
        p.main {
        font-weight: bold;
        }
    </style>
    <meta charset="UTF-8">
    <title>welcome</title>

</head>
<body>
  <a href="aboutme.html">About Me</a>
<img src="images\Space-4K.jpg" alt="This is space image">
<p class="main">welcome</p>
<p>welcome</p>

</body>
</html>