<!DOCTYPE html>
{%extends "authapp/base.html"%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
{%block base_block%}
<div class="container" align="justify">
    <form method="post">
        <!--{{form.as_p}}-->
        <p> First Name : {{form.first_name}}</p>
        <p> Last Name : {{form.last_name}}</p>
        <p> Email : {{form.email}}</p>
        <p> Username : {{form.username}}</p>
        <p><small>Username {{form.username.help_text}}</small></p>
        <p> Password : {{form.password}}</p>
        {%csrf_token%}
        <button type="submit">Submit</button>
    </form>
</div>
{%endblock%}
</body>
</html>